{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<h2 align="left" class="main-title">Profile</h2 >
<meta charset="utf-8">
<hr/>
<div align="center" class="profile-pic">
    <img  id = 'image' align = 'center' src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt="Profile" height="150">
</div>
<br>
<div class="table">
    <table align="center" style="text-align: center">
        <tr>
            <td class="subject" align ='left'>Nama: </td>
            <td class="value" align =' right'>{{ name }}</td>
        </tr>
        <tr>
            <td class="subject" align ='left'>Tanggal Lahir: </td>
            <td class="value" align =' right'>{{ birthday }}</td>
        </tr>
        <tr>
            <td class="subject" align ='left'>Kelamin: </td>
            <td class="value" align =' right'>{{ sex }}</td>
        </tr>
        <tr>
            <td class="subject" align ='left'>Expertise: </td>
            <td class="value" align =' right'>
            {% for d in expertise %}
            <span class="w3-tag w3-small w3-padding-small w3-pink">
            <li>{{ d }}</li>    
            </span>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="subject" align ='left'>Description:</td>
            <td class="value" align =' right'>{{ description }}</td>
        </tr>
        <tr>
            <td class="subject" align ='left'>E-mail: </td>
            <td class="value" align =' right'>{{ email }}</td>
        </tr>
    </table>
</div>

{% endblock %}
