{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<h2 align="left" class="main-title">Update Status</h2 >
<hr/>
<center><section name="form" >
    <form id="form" method="POST" action="{% url 'Status Page:add_status' %}">
        {% csrf_token %}
        {{ status_form }}
        <br>
        <button type="submit" class="btn btn-default">Post</button>
    </form>
</section></center>
<hr/>
<section name="my-status" id="my-status">
    <div class="container">
        <div class="flex" style="flex-flow: column-reverse wrap">
            {% if status %}
                {% for data in status reversed %}
                    <div class="flex-item">
                        <div class="status">
                            <div class="user-detail">
                                <p> <img  id = 'image' align = 'middle' src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt="Profile" height="50"> John Doe </p>
                            <div class="status-content">
                                {{data.new_status}}
                            </div>
                            <div class="status-date">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> There's no status yet.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}