{% extends "base.html" %}
{% block content %}
<h2 align="left" class="main-title">Dashboard</h2 >
<hr/>
<p align="center"> <img  id = 'image' align = 'middle' src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt="Profile" height="150"> </p>
<h5 align="center" class="main-title">hepzibah smithies</h5 >
<div class="table">
	<table align="center" width="500">
		<tr>
			<td class="subject" align="left">Post Statistic: </td>
			<td class="value" align="right"> {{ total }} Post </td>
		</tr>
		<tr>
			<td class="subject" align="left">Last Post: {{ last.new_status }}</td>
			<td class="value" align="right"> 
			{% if last %}	
			{{ last.created_date }}
			{% else %}
			<div class="alert alert-danger text-center">
		                <strong>Oops!</strong> There's no status yet.
		            </div>
			{% endif %}
			 </td>
		</tr>
	</table>
	
</div>
{% endblock %}